{{#partial "content"}}

    <div class="container">
        <div>
            <h2> Welcome </h2>
            <h3> Safaricom inventory management system</h3>
            <p> For better tracking and support of materials and equipments.</p>
        </div>
    </div>

{{/partial}}

{{> "layout.hbs"}}