{{#partial "content"}}

    <div class="container">
        <h1 class="text-center">Adding a new Partner IS</h1>
        <form action="/partnerisps" method="post">
            <div class="form-group">
                <label for="squadName">Partner ISP Name :</label>
                <input type="text" id="partnerName" name="partnerName" class="form-control" aria-describedby="emailHelp" placeholder="Enter Partner ISP name" required>
            </div>
            <div class="form-group">
                <label for="squadCause">Partner Email :</label>
                <input type="email" id="partnerEmail" name="partnerEmail" class="form-control" aria-describedby="emailHelp" placeholder="Enter Partner Email Address" required>
            </div>
            <div class="form-group">
                <label for="maxSize">Description:</label>
                <input type="text" id="description" name="description" class="form-control" aria-describedby="emailHelp" placeholder="Enter Partner's geographical coverage" required>
            </div>

            <button class="btn btn-primary" type="submit">Save Partner ISP</button>
        </form>
    </div>

{{/partial}}
{{> "layout.hbs"}}