{{#partial "content"}}

    <div class="container">
        <h1 class="text-center">Request reports</h1>
        <p><a class="btn btn-outline-primary" href=" ">+ Request reports for system user</a></p>
        <p><a class="btn btn-outline-primary" href=" ">+ Request reports for Partner isp</a></p>
        <p><a class="btn btn-outline-primary" href=" ">+ Request reports for Equipment</a></p>
        <p><a class="btn btn-outline-primary" href=" ">+ Request reports for materials</a></p>
    </div>

{{/partial}}
{{> "layout.hbs"}}