{{#partial "content"}}
    <h2 class="text-center">Welcome to Safaricom inventory management system</h2>

        <div class="row justify-content-center">

                <form action="/UserLogin" method="post" >

                    <div class="form-group" >
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email address" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter your passcode" name="password" required>
                    </div>

                    <p class="text-center">
                        <button class="btn btn-primary" type="submit">Login <i class="fa fa-save"></i></button>
                    </p>
                </form>
        </div>



{{/partial}}
{{> "layout.hbs"}}
